.header {
    position: fixed;
    width: 100%;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12vh;
    box-shadow: 0 0 10px 1px black;
    z-index: 1000;

    .header-nav {
        width: 90%;
        display: flex;

        @media (max-width: 1200px) {
            width: 90%;
        }
        
        .header-nav-title {
            width: 30%;
            text-align: center;
            font-family: $text;
            font-size: 50px;
            margin: 0;

            @media (max-width: 1200px) {
                font-size: 40px;
            }
        }

        .header-nav-div {
            /*no se toca*/

            .header-nav-div-ul {
                display: flex;
                justify-content: space-between;
                text-align: center;
                width: 90%;
                margin: 0px;

                @media (max-width: 992px) {
                    justify-content: center;
                }
                
                .header-nav-div-ul-li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    
                    .active {
                        color: white;
                    }

                    a {
                        font-family: $text;
                        font-size: 24px;
                        padding: 10px 25px;
                        color: $color3;
                        transition: 0.5s;
                        border-radius: 5px;
                        text-align: center;
                        margin: 5px;

                        @media (max-width: 1400px) {
                            font-size: 20px;
                        }
    
                        @media (max-width: 1200px) {
                            font-size: 18px;
                            padding: 5px 15px;
                        }
    
                        @media (max-width: 992px) {
                            font-size: 25px;
                        }

                        &:hover {
                            color: $color2;
                            background-color: $color3;
                        }
                    }
                }
            }
        }
    }
}