#divisor-productos {
    width: 100%;
    height: 12vh;
    background-color: $color1;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin: 30px;
        font-family: $text;
        font-size: 70px;
        color: $color5;
        z-index: 2;

        @media (max-width: 768px) {
            font-size: 60px;
        }
    }
}

#compra-completada {
    bottom: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 40px;
    border-radius: 15px;
    opacity: 1;
    transform: scale(0);
    z-index: 5;
    transition: 0.5s;
    padding: 30px;

    p {
        font-family: $text;
        font-size: 24px;
    }

    #closeCompra {
        font-family: $text;
        font-size: 20px;
        width: 180px;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        background-color: $color1;
        color: $color3;
        text-align: center;
        transition: 0.5s;
    
            &:hover {
                background-color: $color6;
                cursor: pointer;
                color: $color1;
            }
    }
}

#carrito {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 40px;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0);
    z-index: 3;
    transition: 0.5s;
    top: 10%;

    @media (max-width: 768px) {
        width: 90%;
    }

    @media (max-width: 490px) {
        width: 98%;
    }

    // botones y tabla

    #buttons {
        display: flex;
        width: 60%;
        justify-content: space-around;
        #closeCarrito {
            width: 180px;
            border-radius: 15px;
            margin: 10px;
            padding: 10px;
            background-color: $color1;
            color: $color3;
            text-align: center;
            transition: 0.5s;
    
            &:hover {
                background-color: $color6;
                cursor: pointer;
                color: $color1;
            }
        }

        #comprar {
            width: 180px;
            border-radius: 15px;
            margin: 10px;
            padding: 10px;
            background-color: $color1;
            color: $color3;
            text-align: center;
            transition: 0.5s;
    
            &:hover {
                background-color: $color6;
                cursor: pointer;
                color: $color1;
            }
        }
    }

    td {
        padding: 0;
        align-items: center;
    }

    table {
        width: 90%;

        @media (max-width: 768px) {
            font-size: 16px;
            width: 100%;
        }

        @media (max-width: 450px) {
            font-size: 14px;
        }
    }

    #producto-carrito {
        width: 20%;
    }

    #tipo-carrito {
        width: 15%;
    }

    #cantidad-carrito {
        width: 10%;
    }

    #sumaresta-carrito {
        width: 30%;
        padding: 12px 0px;
    }

    #precio-carrito {
        width: 25%;
    }

    .btn-sm {
        background-color: $color1;
        width: 30px;
        border: none;
        margin: 3px;
    }

    .btn-info {
        transition: 0.5s;

        &:hover {
            background-color: $color6;
        }
    }

    .btn-danger {
        transition: 0.5s;

        &:hover {
            background-color: rgb(105, 0, 0);
        }
    }

    #vaciar-carrito {
        width: 80%;
        transition: 0.5s;

        @media (max-width: 1200px) {
            font-size: 12px;
        }

        @media (max-width: 490px) {
            width: 65px;
        }

        &:hover {
            background-color: rgb(105, 0, 0);
        }
    }

    table, th, td{
        border: none;
        text-align: center;
        color: $color2;
    }

    td {
        padding: 12px 5px;
    }

    //texto
    font-family: $text;
    font-size: 18px;

    //card-items

    #card-carrito {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
    }
}

.main-productos {
    display: flex;
    background-color: $color4;
    min-height: 88vh;
    flex-direction: column;
    align-items: center;

    .main-productos-div {
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;

        @media (max-width: 768px) {
            width: 90%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }
        
        .main-productos-div-card {
            position: relative;
            width: 350px;
            height: 500px;
            margin: 30px;
            box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.1);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            flex-direction: column;

            &:hover {
                .main-productos-div-card-img {
                    opacity: 0;
                    transform: translateY(-100px);
                }

                .main-productos-div-card-p{
                    opacity: 1;
                    transform: translateY(0px);
                }

                .main-productos-div-card-precio{
                    opacity: 1;
                    transform: translateY(0px);
                }

                .main-productos-div-card-div {
                    opacity: 1;
                    transform: translateY(0px);
                }

                h3 {
                    opacity: 1;
                    transform: translateY(0px);
                }

                .main-productos-div-card-btn{
                    opacity: 1;
                    transform: translateY(0px);
                }

            }

            .main-productos-div-card-img{
                position: absolute;
                transition: 0.5s;
                transform: translateY(0px);
                opacity: 1;
            }

            h3 {
                font-family: $text;
                color: $color2;
                font-size: 30px;
                transition: 0.5s;
                transform: translateY(100px);
                opacity: 0;
                margin: 20px;
            }

            .main-productos-div-card-p{
                text-align: center;
                transition: 0.5s;
                font-family: $text;
                font-size: 20px;
                color: $color2;
                transform: translateY(100px);
                opacity: 0;
                margin: 0 0 20px 0;
            }

            .main-productos-div-card-precio{
                text-align: center;
                transition: 0.5s;
                font-family: $text;
                font-size: 25px;
                color: $color2;
                transform: translateY(100px);
                opacity: 0;
                padding: 10px 0;
            }

            .main-productos-div-card-div {
                transition: 0.5s;
                transform: translateY(100px);
                opacity: 0;

                .main-productos-div-card-div-button {
                    background-color: $color1;
                }

                .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
                    background-color: $color5;
                }
            }

            .main-productos-div-card-btn {
                display: flex;
                background-color: $color5;
                width: 240px;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
                border-radius: 30px;
                margin: 30px;
                cursor: pointer;
                transition: 0.5s;
                transform: translateY(100px);
                opacity: 0;
                color: $color3;
                font-family: $text;
                font-size: 18px;
                text-align: center;

                p {
                    margin: 0;
                }

                &:hover {
                    background-color: $color6;
                    color: $color5;
                    
                    svg {
                        color: $color5;
                    }
                }

                svg {
                    color: $color3;
                    margin: 0 10px;
                    transition: 0.5s;
                }
            }
        }
    }
}

